<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>
  <% include _menu %>

  <% if (errors){ %>
  <ul>
    <% for(index in errors) { %>
    <li><%= errors[index].msg %></li>
    <% } %>
  </ul>
  <% } %>

  <%# エラーメッセージを表示する %>
  <% const showErrorMessage = function(name, errors){ %>
  <% const error = errors.filter(e => e.param === name) %>
  <% if(error.length > 0) { %>
  <p class="error"><%= error[0].msg %></p>
  <% }%>
  <% }; %>

  <form action="/" method="post">
    <%- showErrorMessage('mc', errors) %>
    <table>
      <tr>
        <th>メニュー</th>
        <td>
          <ul>
            <li>
              <input type="checkbox" name="mc" value="カット" id="menuCategory0">
              <label for="menuCategory0">カット</label>
            </li>
            <li>
              <input type="checkbox" name="mc" value="カラー" id="menuCategory1">
              <label for="menuCategory1">カラー</label>
            </li>
            <li>
              <input type="checkbox" name="mc" value="パーマ" id="menuCategory2">
              <label for="menuCategory2">パーマ</label>
            </li>
            <li>
              <input type="checkbox" name="mc" value="縮毛矯正" id="menuCategory3">
              <label for="menuCategory3">縮毛矯正</label>
            </li>
            <li>
              <input type="checkbox" name="mc" value="エクステ" id="menuCategory4">
              <label for="menuCategory4" class="fgLLLGray">エクステ</label>
            </li>
            <li>
              <input type="checkbox" name="mc" value="トリートメント" id="menuCategory5">
              <label for="menuCategory5">トリートメント</label>
            </li>
            <li>
              <input type="checkbox" name="mc" value="ヘアセット" id="menuCategory6">
              <label for="menuCategory6">ヘアセット</label>
            </li>
            <li>
              <input type="checkbox" name="mc" value="ヘッドスパ" id="menuCategory7">
              <label for="menuCategory7">ヘッドスパ</label>
            </li>
            <li>
              <input type="checkbox" name="mc" value="その他" id="menuCategory9">
              <label for="menuCategory9">その他</label>
            </li>
          </ul>
        </td>
      </tr>
    </table>

    <%- showErrorMessage('booking_date', errors) %>
    <p>
      予約日：<input type="text" name="booking_date" id="calendar">
    </p>

    <%- showErrorMessage('name', errors) %>
    <p>
      名前：<input type="text" name="name" size="40">
    </p>

    <%- showErrorMessage('sex', errors) %>
    <p>
      性別：<input type="radio" name="sex" value="男">男
      <input type="radio" name="sex" value="女">女
    </p>
    <p>
      <input type="submit" value="送信">
    </p>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
  <script>
    flatpickr.localize(flatpickr.l10ns.ja);
    flatpickr('#calendar');
  </script>
</body>

</html>
