<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>
  <% include _menu %>

  <form action="/" method="post">
    <p>＊メニュー</p>
    <%- showErrorMessage('mc', errors) %>
    <ul>
      <% menu.forEach(function (value, index) { %>
      <li>
        <input type="checkbox" name="mc" value="<%= value %>" id="menuCategory<%= index %>">
        <label for="menuCategory<%= index %>"><%= value %></label>
      </li>
      <% }); %>
    </ul>

    <%- showErrorMessage('booking_date', errors) %>
    <p>
      ＊予約日：<input type="text" name="booking_date" id="calendar" value="<%= getValue('booking_date', body) %>">
    </p>

    <%- showErrorMessage('name', errors) %>
    <p>
      ＊名前：<input type="text" name="name" size="40" value="<%= getValue('name', body) %>">
    </p>

    <%- showErrorMessage('sex', errors) %>
    <p>
      ＊性別：<input type="radio" name="sex" value="男" <%= checked('sex', '男', body) %>>男
      <input type="radio" name="sex" value="女" <%= checked('sex', '女', body) %>>女
    </p>
    <p>
      <input type="submit" value="送信">
    </p>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
  <script>
    flatpickr.localize(flatpickr.l10ns.ja);
    flatpickr('#calendar');
  </script>
</body>

</html>
